In [1]:
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import rand

まずデータフレームを2つ作る。行インデックスはデフォルト生成とする。

In [2]:
df1 = DataFrame(rand(2,3), columns=iter('abc'))
df1

          a         b         c
0  0.157254  0.056813  0.002347
1  0.303177  0.047506  0.030282

In [3]:
df2 = DataFrame(rand(2,3), columns=iter('abc'))
df2

          a         b         c
0  0.332879  0.330580  0.679132
1  0.534645  0.984505  0.311439

行方向の結合をしてみる

In [7]:
df1.append(df2)

          a         b         c
0  0.157254  0.056813  0.002347
1  0.303177  0.047506  0.030282
0  0.332879  0.330580  0.679132
1  0.534645  0.984505  0.311439

行インデックスが重複することに気づく。多くの人にとって予想外かもしれない。
予想した結果を得るにはこうする:

In [5]:
df1.append(df2, ignore_index=True)

          a         b         c
0  0.157254  0.056813  0.002347
1  0.303177  0.047506  0.030282
2  0.332879  0.330580  0.679132
3  0.534645  0.984505  0.311439

In [11]:
df1.append(df2)[0]

KeyError: 0